//Colors
$bgColor-dark: #000;
$bgColor-medium:#0c0c0c;
$bgColor-medium1:#161616;
$bgColor-light: rgb(166, 210, 252);
$fontColor-light: rgba(255, 255, 255, 0.64);;
$fontColor-gray: #858C9E;
$fontColor-gray1: #525252;
$fontColor-gray2:#5F5F5F;