@import "reset";
@import "variable";
@import "header";

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

input:focus {
  outline: none;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

#main {
  background: $bgColor-dark;
  height: 100%;
  .container {
    padding: 4vw 6vw;
    .box {
      margin-top: 9vh;
      // height: 40vh;
      display: flex;
      justify-content: space-between;
      .left {
        width: 46%;
        .left-container {
          background: $bgColor-medium;
          width: 100%;
          .video-placeholder {
            display: flex;
            justify-content: center;
            align-items: center;
            video {
              width: 21vh;
              height: 21vh;
              border-radius: 50%;
              background: $bgColor-medium1;
              margin: 11.6%;
              object-fit: cover;
            }
          }
          .left-bottom {
            display: flex;
            justify-content: space-around;
            padding: 1vw 16% 1vw 22%;
            margin: 0 auto;
            position: relative;
            background: $bgColor-medium1;
            .left-bottom_items {
              display: flex;
              cursor: pointer;
              position: relative;
              img {
                margin-right: 0.5vw;
                height: 28px;
              }
              p {
                color: $fontColor-gray2;
                display: flex;
                align-items: center;
                font-size: 0.9vw;
                font-weight: 400;
                vertical-align: middle;
                line-height: 0;
                .nextIcon {
                  height: 8px;
                  margin-left: 4px;
                }
              }
              .settingsDropdown {
                position: absolute;
                top: 6.5vh;
                left: 0;
                border-radius: 6px;
                padding: 1vw;
                background: $bgColor-medium2;
                color: $fontColor-gray3;
                font-size: 0.9vw;
                width: 100%;
                ul {
                  li {
                    display: flex;
                    justify-content: space-between;
                    padding: 1%;
                  }
                }
              }
            }
          }
        }
      }
      .right {
        width: 46%;
        .right-container {
          margin: 0 auto;
          width: 80%;
          .right-header {
            h2 {
              text-align: center;
              text-shadow: 0px 0px 64px rgba(255, 255, 255, 0.32);
              background: linear-gradient(
                to right,
                #f37777 10%,
                #b182ff 30%,
                #497de2 100%
              );
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              font: {
                size: 3.3vw;
              }
            }
            p {
              font-style: normal;
              font-size: 1.1vw;
              line-height: 15px;
              color: $fontColor-gray;
              text-align: center;
            }
          }
          .right-body {
            margin-top: 4vh;
            form {
              label {
                color: $fontColor-light;
              }
              input {
                color: $fontColor-gray1;
                margin-bottom: 1vh;
                margin-top: 0.8vh;
                width: 95%;
                padding: 1vw;
                border-radius: 5px;
                border-width: 0;
                background: $bgColor-medium1;
              }
              button {
                cursor: pointer;
                background: linear-gradient(
                  107.72deg,
                  #1a26c8 -54.49%,
                  #243cff 17.32%,
                  #d62ec0 86.99%,
                  #f37777 151.29%
                );
                border: none;
                padding: 1vw;
                width: 100%;
                border-radius: 8px;
                margin-top: 4vh;
                color: #ffffff;
                font-weight: 500;
                font-size: 1vw;
              }
            }
          }
        }
      }
    }
  }
}

.noDropdown {
  display: none;
}

@media only screen and (max-width: 720px) {
  .logo-container {
    img {
      width: 29vw;
    }
  }
  .box {
    display: block !important;
    margin-top: 3vh !important;
    .left,
    .right {
      width: 100% !important;
      margin-top: 2vh;
    }
    .left {
      .left-bottom {
        padding: 1.5vw 3% 1.5vw 3% !important;
        .left-bottom_items {
          img {
            height: 20px !important;
            margin-right: 2vw !important;
          }
          p {
            font-size: 3vw !important;
            .nextIcon {
              height: 8px !important;
            }
          }
          .settingsDropdown {
            font-size: 2.5vw !important;
          }
        }
      }
    }
    .right {
      margin-top: 3vh;
      .right-container {
        width: 100% !important;
      }
      .right-header {
        text-align: center;
        h2 {
          font-size: 1.9em !important;
        }
        p {
          font-size: 0.6em !important;
          text-align: center !important;
        }
      }
      .right-body {
        margin-top: 1vh !important;
        form {
          label {
            font-size: 3vw;
          }
          input {
            margin-bottom: 0.1vh !important;
            margin-top: 0.1vh !important;
            padding: 3.3vw !important;
            width: 93% !important;
          }
          button {
            padding: 3.3vw !important;
            margin-top: 2vh;
            font-size: 3.2vw !important;
            width: 100% !important;
          }
        }
      }
    }
  }
}
