* {
  padding: 0;
  margin: 0;
}

.logo-container img {
  width: 14vw;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
}

#main {
  background: #000;
  height: 100%;
}

#main .container {
  padding: 4vw 6vw;
}

#main .container .box {
  margin-top: 9vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main .container .box .left {
  width: 46%;
}

#main .container .box .left .left-container {
  background: #0c0c0c;
  width: 100%;
}

#main .container .box .left .left-container .video-placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main .container .box .left .left-container .video-placeholder video {
  width: 21vh;
  height: 21vh;
  border-radius: 50%;
  background: #161616;
  margin: 11.6%;
}

#main .container .box .left .left-container .left-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1vw 21% 1vw 27%;
  margin: 0 auto;
  position: relative;
  background: #161616;
}

#main .container .box .left .left-container .left-bottom .left-bottom_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

#main .container .box .left .left-container .left-bottom .left-bottom_items img {
  margin-right: 0.5vw;
  height: 28px;
  height: 28px;
}

#main .container .box .left .left-container .left-bottom .left-bottom_items p {
  color: #5F5F5F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9vw;
  font-weight: 400;
}

#main .container .box .right {
  width: 46%;
}

#main .container .box .right .right-container {
  margin: 0 auto;
  width: 80%;
}

#main .container .box .right .right-container .right-header h2 {
  text-align: center;
  text-shadow: 0px 0px 64px rgba(255, 255, 255, 0.32);
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #f37777), color-stop(30%, #b182ff), to(#497de2));
  background: linear-gradient(to right, #f37777 10%, #b182ff 30%, #497de2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.3vw;
}

#main .container .box .right .right-container .right-header p {
  font-style: normal;
  font-size: 1.1vw;
  line-height: 15px;
  color: #858C9E;
  text-align: center;
}

#main .container .box .right .right-container .right-body {
  margin-top: 4vh;
}

#main .container .box .right .right-container .right-body form label {
  color: rgba(255, 255, 255, 0.64);
}

#main .container .box .right .right-container .right-body form input {
  color: #525252;
  margin-bottom: 1vh;
  margin-top: 0.8vh;
  width: 95%;
  padding: 1vw;
  border-radius: 5px;
  border-width: 0;
  background: #161616;
}

#main .container .box .right .right-container .right-body form button {
  cursor: pointer;
  background: linear-gradient(107.72deg, #1a26c8 -54.49%, #243cff 17.32%, #d62ec0 86.99%, #f37777 151.29%);
  border: none;
  padding: 1vw;
  width: 100%;
  border-radius: 8px;
  margin-top: 4vh;
  color: #ffffff;
  font-weight: 500;
  font-size: 1vw;
}

.displayNone {
  display: none;
}

@media only screen and (max-width: 720px) {
  .logo-container img {
    width: 29vw;
  }
  .box {
    display: block !important;
    margin-top: 3vh !important;
  }
  .box .left,
  .box .right {
    width: 100% !important;
    margin-top: 2vh;
  }
  .box .left {
    height: 40vh;
  }
  .box .left .left-bottom {
    padding: 1.5vw 15% 1.5vw 15% !important;
  }
  .box .left .left-bottom .left-bottom_items p {
    font-size: 3vw !important;
  }
  .box .right {
    margin-top: 9vh;
  }
  .box .right .right-header {
    text-align: center;
  }
  .box .right .right-header h2 {
    font-size: 1.5em !important;
  }
  .box .right .right-header p {
    font-size: 0.6em !important;
    text-align: center !important;
  }
  .box .right .right-body {
    margin-top: 1vh !important;
  }
  .box .right .right-body form input {
    margin-bottom: 0.1vh !important;
    margin-top: 0.1vh !important;
    padding: 3.3vw !important;
    width: 93% !important;
  }
  .box .right .right-body form button {
    padding: 3.3vw !important;
    margin-top: 2vh;
    font-size: 3.2vw !important;
    width: 100% !important;
  }
}
/*# sourceMappingURL=style.css.map */